
# LiteLLM security
LITELLM_MASTER_KEY=sk-1234
LITELLM_SALT_KEY=sk-1234

# Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=litellm

# DB URL (internal docker network)
DATABASE_URL=postgresql://postgres:password@postgres:5432/litellm


# Langfuse Auth
LANGFUSE_INIT_ORG_ID=my-llm-org
LANGFUSE_INIT_PROJECT_ID=my-llm-project
LANGFUSE_INIT_PUBLIC_KEY=pk-lf-a4bc0c3c-4a93-4433-9469-2f73d16b36cf
LANGFUSE_INIT_SECRET_KEY=sk-lf-0cd4954a-a69d-41b5-9ae9-7e2723866430

# Langfuse DB (reuse same postgres)
LANGFUSE_DATABASE_URL=postgresql://postgres:password@postgres:5432/litellm

# Redis
REDIS_URL=redis://redis:6379
